@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.App {
  padding:0;
  margin:0;
}

h1{
  font-family: 'Permanent Marker';
  color: white;
  font-size: 55px;
  padding: 0;
  margin: 0;
}

header{
  text-align: center;
}

.search{
  background: linear-gradient(#e66465, #fff);
  text-align: center;
  padding: 100px 0 100px 0;
}

.search-results{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
}

.search-results h2{
  width: 100%;
}

#test{
  display: flex;
}

.movie{
  background-color: beige;
  width: 28%;
  border-radius: 10px;
  padding: 10px;
  margin: 1%;
  text-align: center;
}

button{
  padding:10px;
  color: white;
  background-color: blue;
  border: none;
  border-radius: 10px;
}

button:disabled{
  padding:10px;
  color: blue;
  background-color: white;
  border: none;
  border-radius: 10px;
}

#search-bar{
  padding: 10px;
  border-radius: 20px;
  border: none;
  width: 50%;
}