@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.App {
}

h1{
  font-family: 'Permanent Marker';
  font-size: 55px;
}

header{
  text-align: center;
}

.search{
  text-align: center;
}

.search-results{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
}

.search-results h2{
  width: 100%;
}

#test{
  display: flex;
}

.movie{
  background-color: beige;
  width: 28%;
  border-radius: 10px;
  padding: 10px;
  margin: 1%;
  text-align: center;
}

